main {
    background-color: #ACDEE6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 3rem;
}

.about__text {
    padding: 0.5rem;
    text-align: center;
}

.about__text .section__heading {
    margin: 0.5rem 0;
}

.about__description {
    font-size: 1.4rem;
}

.about__picture {
    max-width: 100%;
}

.about__link {
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
}

.about__link:hover {
    text-decoration: underline;
}

@media (min-width: 1100px) {
    .about {
        flex-direction: row-reverse;
    }
    .about__text {
        width: 35%;
    }
    .about__description {
        padding-right: 1rem;
        font-size: 1.3rem;
    }
    .about__picture {
        width: 65%;
    }
    
}