html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

header, main, section, footer {
    padding-top: 2.25rem;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    // text-align: center;
}

h2 {
    font-size: 25px;
}
